<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer | Login</title>
    <link rel="stylesheet" href="/farmer_login.css">
</head>
<body>

    <form action="/login" method="post">
        <a href="/" class="home"><i class="fa fa-arrow-left" aria-hidden="true"></i>
            <span>Back to home</span>
        </a>
        <h2>Login to <span id="logo">KRISI KIRAN</span></h2>
        <input type="number" placeholder="Enter your mobile number" name="number" required>
        <button>Submit</button>
        <div class="login">
            New to Krishi Kiran ? <a href="/register">Register here</a>
        </div>
    </form>

    <script src="https://kit.fontawesome.com/b51a57a65a.js" crossorigin="anonymous"></script>
</body>
</html>