<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmer | Login</title>
    <link rel="stylesheet" href="/farmer_login.css">
</head>
<body>

    <div class="form">
        
        <div class="logo">
            <img src="/images/logo.png" alt="logo">
        </div>
        <h3>Login </h3>
        <form action="/login" method="post">
            <input type="number" name="number" id="number" placeholder="Mobile number" required>
            <button>Submit</button>
        </form>

        <a href="/register" id="back">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>New to Krishi Kiran ? </span>
        </a>
    </div>


    <script src="https://kit.fontawesome.com/b51a57a65a.js" crossorigin="anonymous"></script>
</body>
</html>